[Unit]
Description=Tenet node service
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/.tenetd/
ExecStart=/root/.tenetd/tenetd start
EnvironmentFile=/etc/tenet-node/tenet-node.conf
Restart=on-failure
RestartSec=3
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target